<!-- Localization -->
{% if page.lang == "zh" %}
    {{% assign loc_back_to_top = "回到顶部" %}}
{% elsif page.lang == "en" %}
    {{% assign loc_back_to_top = "TOP" %}}
{% endif %}

<footer class="container">
      <div class="site-footer" role="contentinfo">
          <div class="copyright left mobile-block">
                  © {{ site.since }}
                  <span title="{{ site.author}}">{{ site.author }}</span>
                  <a href="javascript:window.scrollTo(0,0)" class="right mobile-visible">{{ loc_back_to_top }}</a>
          </div>

          <ul class="site-footer-links right mobile-hidden">
              <li>
                  <a href="javascript:window.scrollTo(0,0)" >{{ loc_back_to_top }}</a>
              </li>
          </ul>
          <a href="https://github.com/zjl9959/algviz" target="_blank" aria-label="view source code">
              <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
          </a>
          <ul class="site-footer-links mobile-hidden">
              {% if page.lang == "zh" %}
                {% for nav in site.navs.cn %}
                <li>
                    <a href="{{ site.url }}{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
                </li>
                {% endfor %}
              {% elsif page.lang == "en" %}
                {% for nav in site.navs.en %}
                    <li>
                        <a href="{{ site.url }}{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
                    </li>
                {% endfor %}
              {% endif%}
              <li><a href="{{ site.url }}{{ site.subscribe_rss }}"><span class="octicon octicon-rss" style="color:orange;"></span></a></li>
          </ul>
      </div>
  </footer>
  <div class="tools-wrapper">
    <a class="gotop" href="#" title="{{ loc_back_to_top }}"><span class="octicon octicon-arrow-up"></span></a>
  </div>
</body>
</html>
