<!-- Localization -->
{% if page.lang == "zh" %}
    {% assign loc_back_to_top = "顶部" %}
{% elsif page.lang == "en" %}
    {% assign loc_back_to_top = "TOP" %}
{% endif %}

<footer class="container">
      <div class="site-footer" role="contentinfo">
        <div style="display:flex;flex-direction:row;margin-left:-20pt;">
            <div style="display:flex;flex-direction:column;flex-grow:1;align-items:center">
                {% if page.lang == "zh" %}
                    <span style="margin-bottom: 2pt;"><b>站内导航</b></span>
                    {% for nav in site.navs.cn %}
                        <a href="{{ site.url }}{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
                    {% endfor %}
                {% elsif page.lang == "en" %}
                    <span style="margin-bottom: 2pt;"><b>Navigation</b></span>
                    {% for nav in site.navs.en %}
                        <a href="{{ site.url }}{{ nav.href }}" title="{{ nav.label }}" target="{{ nav.target | default: _self }}">{{ nav.label }}</a>
                    {% endfor %}
                {% endif %}
            </div>
            <div style="display:flex;flex-direction:column;flex-grow:1;align-items:center">
                {% if page.lang == "zh" %}
                    <span style="margin-bottom: 2pt;"><b>联系方式</b></span>
                    <a href="mailto: {{ site.email }}" title="邮箱"><span class="octicon octicon-mail"></span> 邮箱</a>
                {% elsif page.lang == "en" %}
                    <span style="margin-bottom: 2pt;"><b>Contact</b></span>
                    <a href="mailto: {{ site.url }}{{ nav.href }}" title="Email"><span class="octicon octicon-mail"></span> Email</a>
                {% endif %}
                <a href="{{ site.url }}{{ site.subscribe_rss }}"><span class="octicon octicon-rss"></span> RSS</a>
            </div>
            <div style="display:flex;flex-direction:column;flex-grow:1;align-items:center">
                {% if page.lang == "zh" %}
                    <span style="margin-bottom: 2pt;"><b>相关链接</b></span>
                    <a href="https://algviz.readthedocs.io" title="接口文档"><span class="octicon octicon-book"></span> API 文档</a>
                {% elsif page.lang == "en" %}
                    <span style="margin-bottom: 2pt;"><b>Links</b></span>
                    <a href="https://algviz.readthedocs.io" title="ReadThedocs"><span class="octicon octicon-book"></span> Documents</a>
                {% endif %}
                <a href="https://github.com/zjl9959/algviz" title="GitHub">
                    <span class="octicon octicon-mark-github" style="position:relative;margin-left:-2pt;top:0px;left:0px;font-size:18px;"></span>GitHub
                </a>
            </div>
        </div>

        <div style="margin:15pt;">
            <div style="display:inline" class="copyright">© {{ site.since }} <span title="algviz">algviz</span></div>
            {% if site.components.share.enabled %}
                <div class="share" style="display:inline;float:right;margin-top:-12pt">
                    {% if page.lang == "zh" %}
                        <div class="share-component" data-disabled='qq,twitter,facebook,linkedin'></div>
                    {% elsif page.lang == "en" %}
                        <div class="share-component" data-disabled='qq,douban,qzone,weibo,wechat'></div>
                    {% endif %}
                </div>
                <script src="{{ assets_base_url }}/assets/vendor/share.js/dist/js/share.min.js"></script>
            {% endif %}
        </div>
      </div>
  </footer>
  <div class="tools-wrapper">
    <a class="gotop" href="#" title="{{ loc_back_to_top }}"><span class="octicon octicon-arrow-up"></span></a>
  </div>
</body>
</html>
