---
layout: compress
---

<!-- CND configuration for assets -->
{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}

<!-- CND configuration for svg animations -->
{% assign assets_svg_url = "https://github.com/" | append: site.cdn.svg_repo | append: "/svgs" %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_svg_url = "https://cdn.jsdelivr.net/gh/" | append: site.cdn.svg_repo | append: '@master' | append: "/svgs" %}
{% endif %}

{% include header.html %}
    {{ content }}
{% include footer.html %}
