---
layout: default
---
<!-- CND configuration for assets -->
{% assign assets_base_url = site.url %}
{% if site.debug == false and site.cdn.jsdeliver.enabled %}
{% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}
<!-- Page meta info -->
<link rel="stylesheet" href="{{ assets_base_url }}/assets/css/globals/base16.monokai.min.css">
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15}}">
  <div class="container">
    <div class="columns">
      <div class="column two-thirds">
        <div class="collection-title">
          <h1 class="collection-header">{{ page.title }}</h1>
          {% if page.subtitle %}
            <div class="collection-info">
              <span class="meta-info">
                {{ page.subtitle }}
              </span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sidebar contents -->
<section class="container content">
<div class="columns">
  <div class="column two-thirds" >
    <article class="article-content markdown-body">
      {% if site.debug %}
        {{ content | replace: "https://cdn.jsdelivr.net/gh/zjl9959/algviz-launch@master/svgs/", "/assets/svgs/" }}
      {% else %}
        {{ content }}
      {% endif %}
    </article>
  </div>
  <div class="column one-third">
    {% include sidebar-search.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>