---
layout: default
---

<!-- Latex math formula support -->
{% if page.latex %}
<link rel="stylesheet" href="{{ assets_base_url }}/assets/css/globals/base16.monokai.css">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script> 
  MathJax = {
    tex: {
      inlineMath: [['$', '$']],
      processEscapes: true
    }
  };
</script>
{% endif %}
<!-- Article meta info -->
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h1 class="collection-header">{{ page.title }}</h1>
        <div class="collection-info">
          {% if page.date %}
          <span class="meta-info" style="padding-right:3px">
            <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
          </span>
          {% endif %}
          {% for cat in page.categories %}
          <span class="meta-info" style="padding-right:3px">
            <span class="octicon octicon-file-directory"></span>
            <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
          </span>
          {% endfor %}
          {% if site.components.word_count.enabled %}
          <span class="meta-info" style="padding-right:3px">
            <span class="octicon octicon-clock"></span>
            {% if page.lang == "zh" %}
              共 {{ page.content | strip_html | strip_newlines | remove: " " | size }} 字，约 {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} 分钟
            {% elsif page.lang == "en" %}
              {{ page.content | strip_html | strip_newlines | remove: " " | size }} words in total, about {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }} minutes
            {% endif %}
          </span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<br>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <article class="article-content markdown-body">
    {% if site.debug %}
      {{ content | replace: "https://cdn.jsdelivr.net/gh/zjl9959/algviz-launch@master/svgs/", "/assets/svgs/" }}
    {% elsif site.cdn.jsdeliver.enabled == false %}
      {{ content | replace: "https://cdn.jsdelivr.net/gh/zjl9959/algviz-launch@master/svgs/", "https://github.com/zjl9959/algviz-launch/svgs" }}
    {% else %}
      {{ content }}
    {% endif %}
    </article>
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>
<!-- /section.content -->
